@import "utils/colors";
@import "utils/templates";
@import "components/form-builder";
@import "components/form";

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  min-height: 100vh;
  background-color: $color-site-background;
}

.container {
  max-width: 1200px;
  text-align: center;
  margin: 0px auto;
  min-height: 100vh;
}

.hidden {
  display: none;
}
