$color-active: #2196f3;

$color-site-background: rgb(246, 242, 237);
$color-form-background: #eaddca;

$color-button-font: #ffffff;
$color-button-add-generate: #23e163;
$color-button-add-generate-hover: #15b14a;
$color-button-add-generate-active: #159d43;
$color-button-followup: #1877f2;
$color-button-followup-hover: #196fe0;
$color-button-followup-active: #206fe0;
$color-button-clear: #e62222;
$color-button-clear-hover: #ff3636;
$color-select-background: #eee;
$color-select-font: #1c87c9;
